.badass {
    .actor-section {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 100%;
    }
    .actor-row {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
    }

    .actor-col {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .col-1 { flex-basis: 8.33%; }
    .col-2 { flex-basis: 16.66%; }
    .col-3 { flex-basis: 25%; }
    .col-4 { flex-basis: 33.33%; }
    .col-5 { flex-basis: 41.66%; }
    .col-6 { flex-basis: 50%; }
    .col-7 { flex-basis: 58.33%; }
    .col-8 { flex-basis: 66.66%; }
    .col-9 { flex-basis: 75%; }
    .col-10 { flex-basis: 83.33%; }
    .col-11 { flex-basis: 91.66%; }
    .col-12 { flex-basis: 100%; }

    /* Favored Gun specials */
    .actor-favored-guns {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 100%;
    }
    .actor-favored-gun {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .actor-favored-gun img {
        border: 0;
        height: 22px;
        color: #6e7075;
    }

    /* Defense specials */

    /* Actor stats */

    /* Footer */
    .actor-section-footer {
        height: 5px;
        border: 1px dashed #6e7075;
        background-color: white;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .actor-section-footer:hover {
        height: 15px;
    }
    .actor-section-footer a {
        display: none;
        height: 0px;
        font-size: 12px;
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
    }
    .actor-section-footer:hover a {
        height: 15px;
    }
}
