svg {
	--diceColor: var(--user-color, aliceblue);
	--diceStroke: var(--user-dice-stroke, blue);
	--diceNumberColor: var(--user-dice-number-color, gray);
	--diceNumberStroke: var(--user-dice-number-stroke, white);
}

/********
 * 		*
 *	D20	*
 * 		*
 ********
 */

.d20 {
	--diceBlue : #3030ff;
	--diceLine : rgba(125,125,255,0.4);
	--diceTransparent : rgba(200,200,200,0.3);
}

.d20 .triangle {
	stroke: var(--diceLine, beige);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d20 .triangle:nth-child(3n) {
	fill: url(#blueCloud1);
}

.d20 .triangle:nth-child(3n + 1) {
	fill: url(#blueCloud2);
}

.d20 .triangle:nth-child(3n + 2) {
	fill: url(#blueCloud3);
}

.d20 .diceNumber {
	fill: white;
	stroke: white;
	font-size: 6em;
	font-weight: bold;
}

/********
 * 		*
 *	D12	*
 * 		*
 ********
 */

.d12 .pentagon {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d12 .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
	font-size: 7em;
	font-weight: bold;
}

 /********
 * 		*
 *	D10	*
 * 		*
 ********
 */

.d10 .tetragon {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d10 .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D8	*
 * 		*
 ********
 */

.d8 .triangle {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d8 .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D6	*
 * 		*
 ********
 */
 
.d6 .quadrat {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d6 .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D4	*
 * 		*
 ********
 */
 
.d4 .triangle {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.d4 .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
	font-size: 10em;
	font-weight: bold;
}