svg {
	--diceColor: var(--user-color, aliceblue);
	--diceStroke: var(--user-dice-stroke, blue);
	--diceNumberColor: var(--user-dice-number-color, gray);
	--diceNumberStroke: var(--user-dice-number-stroke, white);
}

.dice .triangle,
.dice .tetragon,
.dice .quadrat,
.dice .pentagon {
	fill: var(--diceColor);
	stroke: var(--diceStroke);
	stroke-width: 3;
	stroke-linejoin: round;
}

.dice .diceNumber {
	fill: var(--diceNumberColor);
	stroke: var(--diceNumberStroke);
}
/********
 * 		*
 *	D20	*
 * 		*
 ********
 */

.d20 .diceNumber {
	font-size: 6em;
	font-weight: bold;
}

/********
 * 		*
 *	D12	*
 * 		*
 ********
 */

.d12 .diceNumber {
	font-size: 7em;
	font-weight: bold;
}

 /********
 * 		*
 *	D10	*
 * 		*
 ********
 */

.d10 .diceNumber {
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D8	*
 * 		*
 ********
 */

.d8 .diceNumber {
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D6	*
 * 		*
 ********
 */

.d6 .diceNumber {
	font-size: 10em;
	font-weight: bold;
}

/********
 * 		*
 *	D4	*
 * 		*
 ********
 */

.d4 .diceNumber {
	font-size: 10em;
	font-weight: bold;
}