/*********
*        *
* Bullet *
*        *
**********
*/

.bullet #bullet {
    fill: chocolate;
}

.bullet #bulletCasing {
    fill: #eed009;
}

.bullet #bulletCasingEdge {
    stroke: black;
    stroke-width: 0.25px;
}

/*******
*      *
* Cryo *
*      *
********
*/
.elementCryo {
    --cryo: #eee;
}

.elementCryo #cryoArc {
    stroke-width: 15;
    stroke: #fff;
    stroke-linecap: round;
}

/*******
*      *
* Acid *
*      *
********
*/
.elementAcid {
    --dark: #21240f;
    --light: #38462f;
    --acid: #4ef70f;
}

#acidArc {
    stroke-width: 1;
    stroke: #000;
}

.acidCircle {
    fill: transparent;
}

.acidOuterCircle {
    stroke-width: 8;
    stroke: #000;
}

.acidInnerCircle {
    stroke-width: 6;
    stroke: var(--acid);
}

/************
*           *
* Explosive *
*           *
*************
*/

.elementExplosive {
    --light: #835c28;
    --dark: #603905;
    --edge: #160402;
    --nob: #2a0208;
    --explosive: #ffea00;
    --explosiveDark: #ccbb00;
}
.elementExplosive #explosiveSymbol {
    animation-name: explFlash;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes explFlash {
    0% {
        fill: var(--explosive);
    }
    45% {
        fill: var(--explosiveDark);
    }
    55% {
        fill: var(--explosiveDark);
    }
    100% {
        fill: var(--explosive);
    }
}

/*************
*            *
* incendiary *
*            *
**************
*/

.elementIncendiary {
    --light: #651b00;
    --dark: #4a1000;
    --edge: #100101;
    --nob: #2a0208;
    --incendiary: #fdb329;
}
.elementIncendiary .incendiaryPath {
    fill: var(--incendiary, #bfb8c9);
    stroke-width: 0.5;
    stroke: var(--edge);
}

/************
*           *
* Radiation *
*           *
*************
*/

.elementRadiation {
    --dark: #3c4168;
    --light: #424a16;
    --nob: #2a0208;
    --radiation: #ccd63e;
}

.elementRadiation .radiationOuterCircle {
    fill: transparent;
    stroke-width: 18;
    stroke: var(--radiation);
}

/********
*       *
* Shock *
*       *
*********
*/

.elementShock {
    --light: #252656;
    --dark: #101141;
    --edge: #1b0329;
    --nob: #2a0208;
    --shock: #26e3f5;
}
.elementShock .lightning {
    fill: var(--shock, #bfb8c9);
    stroke-width: 1;
    stroke: var(--edge);
}

/******************
*                 *
* elementSelector *
*                 *
*******************
*/

.elementSelector .elementSelectorAcid {
    background-image: url('/foundry/systems/vtt-bunkersandbadasses/assets/standalone/elements/acid.svg');
}

.elementSelector .elementSelectorCryo {
    background-image: url('/foundry/systems/vtt-bunkersandbadasses/assets/standalone/elements/cryo.svg');
}
