.gunCardAccuracy {
    width: 40%;
    flex-flow: column;
}

.gunCardAccuracy {
    flex-flow: row;
    width: 100%;
}

.gunCardD20AndMods {
    width: 40%;
}

.gunCardAccuracy .d20 {
    height: 50px;
}

.gunCardD20AndMods > input {
    height: 60px;
    width: 60px;
    font-size: 2em;
    margin: 10px;
}

.gunCardModText {
    position: relative;
    top: -0.75em;
    margin-bottom: -1em;
    text-align: center;
    z-index: 1;
}

.gunCardHitsAndCrits {
    width: 60%;
}

.critHitRow {
    display: flex;
    height: 3em;
    line-height: 3em;
}

.accuracyLine {
    width: 10em;
}

.critHitRow > div.hit,
.critHitRow > div.crit {
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.critHitRow > div.hit {
    background-image: url(../assets/standalone/hits.svg);
    background-size: auto 95%;
}

.critHitRow > div.hit > input,
.critHitRow > div.crit > input {
    height: 40px;
    width: 40px;
}

.critHitRow > div.crit {
    background-image: url(../assets/standalone/crits.svg);
    background-size: auto 95%;
}

.critHitRow > .accuracyLow,
.critHitRow > .accuracyMid,
.critHitRow > .accuracyHigh {
    width: 33%;
}

.itemCardPicture {
    height: 320px;
}

.gunCardDamageDie {
    height: 80px;
}

.damageDiePicSelector.prePictureSelector {
    height: 80px;
    width: 80px;
}

.damageDiePicSelector {
    width: 2.5em;
}

.damageDiePicSelector.pictureSelector {
    position: relative;
    left: 20px;
}

.damageDiePicSelector.pictureSelector > * {
    height: 2.5em;
    width: 2.5em;
}

.gunCardDiceMulti {
    font-size: 1.4em;
    line-height: 24px;
    height: 20px;
    display: flex;
    margin: 50px 0px 0px 0px;
    position: relative;
    left: -16px;
    width: 0px;
}

.gunCardDiceMultiInput[type='number'] {
    height: 20px;
    font-size: 20px;
    color: white;
}

.gunCardSingleDice {
    color: #333 !important;
}

.gunCardDicePer {
    line-height: 80px;
    height: 100%;
    width: 40px;
    font-size: 12px;
    background-image: url(../assets/standalone/hits.svg);
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
    text-align: center;
}

.gunCardDicePlus {
    line-height: 80px;
    height: 100%;
    width: 10px;
    font-size: 12px;
    text-align: center;
    position: relative;
    left: 4px;
}

.gunCardDamage > input {
    position: relative;
    top: calc(50% - 40px);
    width: 60px;
    height: 60px;
    font-size: 2em;
    margin: 10px;
}

.itemCardPicture > img {
    height: inherit;
}

.gunCardRange {
    display: flex;
    padding-left: calc(50% - 40px);
}

.gunCardRange > input {
    width: 20px;
}

.gunCardDamage > svg {
    width: 30%;
}

/* gunType config stuff */
.badass .gunStats {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
}
.badass .gunStats-row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
.badass .gunStats-header {
    font-weight: bold;
    color: #d26638;
}
.badass .gunStats-col {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.badass .gunStats-cell {
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
}

.badass .gunStats-cell .gunStatInput {
    padding: 0;
    text-align: center;
    height: fit-content;
    margin: 0;
    line-height: initial;
}

