.input-lookup {
    align-items: center;
    overflow: hidden;
}

.input-lookup-field {
    display: flex;
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    cursor: not-allowed;
}

.input-lookup-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-lookup-button:hover {
    background-color: #0056b3;
}

.input-lookup-button i {
    font-size: 16px;
    height: 34px;
    width: 34px;
    position: relative;
    right: 0;
}