@import "./gunCard.css";
@import "./shieldCard.css";

.itemCardSheet {
	color: white;
}

.itemCardFlex {
	display:flex;
}

.itemHeaderQuarter {
	width: 25%;
}

.itemCardName {
	width: 50%;
	font-size: 2em;
	line-height: 2em;
}

.itemCardName > input{
	height: 1.8em;
}

.levelInput[type="Number"] {
	width: 50%;
}

.itemCardInput[type="Number"] {
	color: white;
	text-align: center;
}

.itemDataBlock {
	margin: 25px 0em;
	width: 40%;
	flex-flow: column;
	border: 10px solid;
	border-image-slice: 27% fill;
	border-image-source: url("../assets/standalone/itemCardInfoHeaderBg.svg");
	border-image-width: 10px;
	border-image-repeat: round;
	padding: 10px;
	align-items: center;
}

.itemDataHeader {
	text-align: center;
	height: 25px;
	line-height: 25px;
	padding: 0em 1.5em;
	border-image-slice: 7 fill;
	border-image-source: url("../assets/standalone/itemCardInfoHeaderBg.svg");
	border-image-width: 40px;
	border-image-repeat: round;
	width: max-content;
}

.itemDataHeader:nth-of-type(1) {
	position: relative;
	top: -30.5px;
}

.itemCardPicture {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.itemCardElements {
	width: 20%;
}

.itemCardValue {
	float: right;
	width: 20%;
}

.itemCardValue input {
	width:  max(50px, 50%);
}