<section class="badass-section actor-row">
    <div class="actor-col badassBlock tlbrBox">
        <div class="actorBlockHeader badassRankName">{{ localize "SHEETS.actor.vaultHunter.badassRank.label" }}</div>
        {{> stdInput inputClass="actorSheetValue goldValue" inputValue=system.badassRank inputName="system.badassRank"}}
    </div>
    <div class="actor-col badassBlock badassTokenBlock tlbrBox">
        <div class="meleeDieName">{{ localize "SHEETS.actor.vaultHunter.badassTokens.label" }}</div>
        <div class="actorSheetValue badassTokenValue">{{ system.badassToken }}</div>
    </div>
</section>

