<section class="badass-section">
    <div class="badass-row goldBlock tlbrBox">
        <div class="actorBlockHeader goldName">{{!--localize--}} GOLD</div>
        {{> stdInput inputClass="actorSheetValue goldValue" inputValue=system.gold inputName="system.gold"}}
    </div>
</section>
