<section class="badass-section goldBlock">
    <div class="badass-row tlbrBox">
        <div class="actorBlockHeader goldName">{{ localize "SHEETS.actor.vaultHunter.gold.label" }}</div>
        {{> stdInput inputClass="actorSheetValue goldValue" inputValue=system.gold inputName="system.gold"}}
    </div>
</section>
