<section class="actor-section">
    <div class="actor-row goldBlock tlbrBox">
        <div class="actorBlockHeader goldName">{{!--localize--}} GOLD</div>
        {{> stdInput inputClass="actorSheetValue goldValue" inputValue=system.gold inputName="system.gold"}}
    </div>
</section>
