<section class="badass-section tlbrBox">
    <div class="actorBlockHeader grenadeTypeBlock">
        GRENADES
    </div>
    <div class="badass-row grenadeTypeDamage">
        <div class="grenadeTypeBlock">
            <div class="blockInfo"></div>
            <div class="blockHint">TYPE</div>
        </div>
        <div class="grenadeDamageBlock">
            <div class="blockInfo"></div>
            <div class="blockHint">DAMAGE</div>
        </div>
    </div>
    <div class="badass-row grenadeOtherInfo">
        <div class="grenadeInfoBlock">
            <div class="startHint">INFO:</div>
            <div class="blockInfo"></div>
        </div>
        <div class="grenadeCurrentBlock">
            <div class="blockInfo"></div>
            <div class="blockHint">CURRENT</div>
        </div>
        <div class="grenadeMaxBlock">
            <div class="blockInfo"></div>
            <div class="blockHint">MAX</div>
        </div>
    </div>
</section>
