<section class="badass-section tlbrBox">
    <div class="actorBlockHeader grenadeHeader">
        GRENADES
    </div>
    <div class="badass-row grenadeTypeDamage">
        <div class="grenadeTypeBlock">
            <div class="blockInfo"></div>
            <div class="centerBlockHint">TYPE</div>
        </div>
        <div class="grenadeDamageBlock">
            <div class="blockInfo"></div>
            <div class="centerBlockHint">DAMAGE</div>
        </div>
    </div>
    <div class="badass-row grenadeOtherInfo">
        <div class="grenadeInfoBlock">
            <div class="startHint">INFO:</div>
            <div class="blockInfo"></div>
        </div>
        <div class="grenadeCurrentBlock">
            <div class="blockInfo"></div>
            <div class="centerBlockHint">CURR</div>
        </div>
        <div class="grenadeMaxBlock">
            <div class="blockInfo"></div>
            <div class="centerBlockHint">MAX</div>
        </div>
    </div>
</section>
