<section class="actor-section">
    {{#with system.initiative as | initiative | }}
    <div class="initiativeBlock">
        <div class="actorBlockHeader initName">{{!--localize--}} INITIATIVE</div>
        <div class="actorSheetValue initModValue underlineBox">{{../system.badassRank}}</div>
        <div class="actorSheetPlus">+</div>
        <div class="actorSheetValue initModValue underlineBox">{{ ../system.stats.spd.mod }}</div>
        <div class="actorSheetPlus">+</div>
        <div class="actorSheetValue initModValue underlineBox">{{ initiative.bonus }}</div>
        <div class="actorSheetEquals">=</div>
        <div class="actorSheetSum initSumValue tlbrBox">{{ initiative.sum }}</div>
    </div>
    {{/with}}
</section>
