<section class="badass-section">
    <div class="meleeDieBlock tlbrBox">
        <div class="actorBlockHeader meleeDieName">{{!-- localize --}}MELEE DIE</div>
        <div class="meleeDieValueMod badass-row">
            <div class="actorSheetValue meleeDieValue">{{ system.melee.die }}</div>
            <div class="actorStatMod meleeDieMod tlbrBox">{{ system.melee.sum }}</div>
        </div>
    </div>
</section>
