<section class="badass-section meleeDieBlock tlbrBox">
    <div class="badass-col">
        <div class="actorBlockHeader meleeDieName">{{!-- localize --}}MELEE DIE</div>
        <div class="badass-row meleeDieValueMod">
            <div class="badass-col col-8 actorSheetValue meleeDieValue">{{ system.melee.die }}</div>
            <div class="badass-col col-4 actorStatMod meleeDieMod tlbrBox">{{ system.melee.sum }}</div>
        </div>
    </div>
</section>
