<section class="tab col-12 {{ tab.cssClass }}" data-group="primary" data-tab="details">
    <prose-mirror name="item.description" data-document-u-u-i-d="{{ item.key }}" value="{{ item.description }}" >
        {{{ descriptionHtml }}}
    </prose-mirror>
</section>
