<section class="badass-section" style="max-height: 60px">
    <div class="badass-row">
        <div class="badass-col col-1">
            <img src="{{ item.icon }}" data-edit="img" title="{{ item.name }}" />
        </div>
        <div class="badass-col col-11">
            <div class="badass-input">
                <label for="item.name">Name</label>
                <input type="text" name="item.name" value="{{ item.name }}" />
            </div>
        </div>
    </div>
</section>
