<section class="tab actor-col col-12" data-group="primary" data-tab="details">
    <div class="actor-row">
        <section class="actor-col col-8">
            {{> vhSkills }}
        </section>
        <section class="actor-col col-4">
            {{> vhInitiative }}
            {{> vhMovement }}
        </section>
    </div>
    <div class="actor-row">
        <div class="actor-col col-3">
            <div class="actor-row">{{> vhDefenses }}</div>
            <div class="actor-row">{{> vhGrenades }}</div>
            <div class="actor-row">{{> vhPotions }}</div>
            <div class="actor-row">{{> vhFavoredGuns }}</div>
        </div>
        <div class="actor-col col-9">
            <div class="actor-row">
                <div class="actor-col col-7">
                    {{> vhChecks }}
                </div>
                <div class="actor-col col-5">
                    <div class="actor-row">{{> vhMelee }}</div>
                    <div class="actor-row">{{> vhBadass }}</div>
                    <div class="actor-row">{{> vhGold }}</div>
                    <div class="actor-row">{{> vhPlaceholder }}</div>
                </div>
            </div>
            <div class="actor-row">
                <div class="actor-col col-12">
                    <div class="actor-row">{{> vhBackgrounds }}</div>
                    <div class="actor-row">{{> vhTraits }}</div>
                    <div class="actor-row">{{> vhArchetypeFeats }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
