<section class="tab badass-col col-12 {{ tab.cssClass }}" data-group="primary" data-tab="details">
    <div class="badass-row">
        <section class="badass-col col-7">
            {{> vhStats }}
        </section>
        <section class="badass-col col-5">
            <div class="badass-row">
                <div class="badass-col">
                    {{> vhInitiative }}
                </div>
            </div>
            <div class="badass-row">
                <div class="badass-col">
                    {{> vhMovement }}
                </div>
            </div>
        </section>
    </div>
    <div class="badass-row">
        <div class="badass-col col-3">
            <div class="badass-row">{{> vhDefenses }}</div>
            <div class="badass-row">{{> vhGrenades }}</div>
            <div class="badass-row">{{> vhPotions }}</div>
            <div class="badass-row">{{> vhFavoredGuns }}</div>
        </div>
        <div class="badass-col col-9">
            <div class="badass-row">
                <div class="badass-col col-7">
                    {{> vhChecks }}
                </div>
                <div class="badass-col col-5">
                    <div class="badass-row">{{> vhMelee }}</div>
                    <div class="badass-row">{{> vhBadass }}</div>
                    <div class="badass-row">{{> vhGold }}</div>
                    <div class="badass-row">{{> vhPlaceholder }}</div>
                </div>
            </div>
            <div class="badass-row">
                <div class="badass-col col-12">
                    <div class="badass-row">{{> vhBackgrounds }}</div>
                    <div class="badass-row">{{> vhTraits }}</div>
                    <div class="badass-row">{{> vhArchetypeFeats }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
