<tr class="critHitRow">
	<td class="accuracyLow accuracyLine">
		{{#if high}}
			{{low}}-{{high}}
		{{else}}
			{{low}}+
		{{/if}}
	</td>
	<td class="hit">
		<input class="itemCardInput"
			onfocus="this.select()"
			value="{{hits}}" 
			name="system.accuracy.{{hitCategory}}.hits"
			type="number" data-dtype="Number"
		/>
	</td>
	<td class="crit">
		<input class="itemCardInput"
			onfocus="this.select()"
			value="{{crits}}" 
			name="system.accuracy.{{hitCategory}}.crits"
			type="number" data-dtype="Number"
		/>
	</td>
</tr>