<div class="itemCardHeader itemCardFlex" >
    <div class="itemCardManRar itemHeaderQuarter" >
        <div class="itemCardManufacturer">
            {{> optionSelector choices=manufacturers name="manufacturer" selected=system.manufacturer.name}}
        </div>
        <div class="itemCardRarity">
            {{> optionSelector choices=rarities name="rarity" selected=system.rarity}}
        </div>
    </div>
    <div class="itemCardName" >
        <input class="itemCardNameInput" name="name" type="text" value="{{item.name}}" placeholder="{{itemDescriptor}} Name"/>
    </div>
    <div class="itemCardLvlType itemHeaderQuarter" >
        <div class="itemCardLvl" >
            <div class="itemLevelLabel">
                {{localize "badass.item.gun.level.label"}}:
            </div>
            <div class="itemLevelInput">
                <input class="levelInput" onfocus="this.select()" value="{{system.level}}"
                    name="system.level" type="number" data-dtype="Number" min="1"
                />
            </div>
        </div>
        {{#if itemTypes}}
        <div class="itemCardType" > 
            {{> prePicSelector choices=itemTypes name="type" selected=system.type}}
            {{> pictureSelector choices=itemTypes name="type" selected=system.type}}
        </div>
        {{/if}}
    </div>
</div>