<select class="{{name}}Selector" >
    {{ log "choices are" choices }}
    {{ log "selected: " selected }}
    {{#unless selected}}
        <option value="unchosen" selected disabled></option>
    {{/unless}}
    {{#each choices as | choice | }}
        {{!--log "choiceName is" choice.name--}}
        <option class="{{../name}}Option {{../name}}Option{{choice.key}}" value="{{choice.key}}" 
            {{#equals ../selected choice.key}} 
                selected 
                {{!-- log "selected! " choice.name --}}
            {{/equals}}
        >
            {{localize choice.name}}
        </option>
    {{/each}}
</select>