<section class="tab col-12 {{ tab.cssClass }}" data-group="primary" data-tab="classes">
    <h3>Classes</h3>
    <div class="browser">
        <div class="sidebar">Sidebar</div>
        <div class="content">available</div>
    </div>
</section>
