<form class="gunItemSheet {{cssClass}}" autocomplete="off">
	<div class="itemCardSheet item{{system.rarity}}" >
		{{> manuItemHeader manufacturers=manufacturers itemTypes=gunTypes itemType=type}}
		{{> gunCardDataAndImage}}
		{{> manuItemNotes}}
	</div>
</form>