<form class="shieldItemSheet {{cssClass}}" autocomplete="off">
	<div class="itemCardSheet {{system.rarity.colorValue}}" >
		<div class="itemCardHeader itemCardFlex" >
			<div class="itemCardManRar itemHeaderQuarter" >
				<div class="itemCardManufacturer">
					{{> optionSelector choices=manufacturers name="manufacturer"}}
				</div>
				<div class="itemCardRarity">
					<select>
						<option >formatDummy</option>
					</select>
				</div>
			</div>
			<div class="itemCardName" >
				<input class="itemCardNameInput" name="name" type="text" value="{{item.name}}" placeholder="item Name"/>
			</div>
			<div class="itemCardLvlType itemHeaderQuarter" >
				<div class="itemCardLvl" >
					<select>
						<option >formatDummy</option>
					</select>
				</div>
			</div>
		</div>
		<div class="itemCardRollAndImage itemCardFlex" >
			<div class="itemDataBlock itemCardFlex" >
				<div class="itemDataHeader" > CAPACITY </div>
				<div class="shieldCapacity">
					<div class="shieldCapacityImage">

					</div>
					<div class="shieldCapacityData itemCardFlex">
						<input class="itemCardInput"
							onfocus="this.select()"
							value="{{system.current}}"
							name="system.current"
							type="number" data-dtype="Number"
						/>
						/
						<input class="itemCardInput"
							onfocus="this.select()"
							value="{{system.max}}"
							name="system.max"
							type="number" data-dtype="Number"
						/>
					</div>
				</div>
				<div class="itemDataHeader" > REGEN </div>
				<div> 
					<input class="itemCardInput"
						onfocus="this.select()"
						value="{{system.regen}}"
						name="system.regen"
						type="number" data-dtype="Number"
					/> 	
				</div>
			</div>
			<div class="itemCardPicture" >
				<img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
			</div>
		</div>
		<div class="itemCardElementNotes" >
			<div class="itemCardElements" >
				{{> optionSelector choices=elements name="element"}}
			</div>
			<div class="itemCardNotes" >
				Lorem ipsum
			</div>
		</div>
		<div class="itemCardValue" >
			<input class="itemCardInput"
				onfocus="this.select()"
				value="{{system.value}}"
				name="system.value"
				type="number" data-dtype="Number"
			/> 
			Gold
		</div>
	</div>
</form>